body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    overflow: hidden;
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 div.modalbox {
    border-radius: 5px;
    max-width: 600px;
}

.button1 {
  width: 90px;
  height: 70px;
  margin-bottom: 10px;
  margin-left: 100px;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10%;
}
.head{
  position: absolute;
  left: 0px;
  height: 110px;
  width: 290px;
  top: 0px;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  border: solid;
  background-color: #ff7455;
  border-bottom: solid;
  border-left: solid;
}
.lowbar{
  position: absolute;
  left: 0px;
  height: 100%;
  width: 275px;
  top: 250px;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  border: solid;
  background-color: #F5F5DC;
  border-top: solid;
  border-bottom: solid;
}
.background{
  background-color: "green";
}


.font-size {
  font-size: 12px;
}

.map {
  position: absolute;
  left: 178px;
  right: 0;
  bottom: 0;
  top: 0px;
}

.sidebar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 50px;
  top: 0px;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  border: solid;
  background-color: #9da3b6;
  border-bottom: none;
  border-top: none;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#9da3b6;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:20px;
  height:15px;
  }


@media screen and (min-width: 480px) and (max-width: 800px) {
  p {
      left: -40px;
      top: 0px;
      position: relative;
  }

  .custom-popup .leaflet-popup-content-wrapper {
    background:#9da3b6;
    color:#fff;
    font-size:12px;
    line-height:14px;
    }
  .custom-popup .leaflet-popup-tip-container {
    width:10px;
    height:7px;
    }
    .sidebar { 
      position: absolute;
      height: 620px;
      width: 230px;
      left: 0px;
      top-padding: 0%;
      top: 0px;
      border-top: solid;
    }
    .head{
      height:100px;
      width: 250px;
      z-index: -1px;
    }
    .smaller-image{
      position: absolute;
      height:60px;
      width:110px;
    }
    .lowbar{
      height: 135px;
      left: 230px;
      width: 100%;
      top: 0px;
      border-bottom: solid;
      z-index: -1px;
    }
    .map{
      left: 0%;
      top:132px;
      border-top: solid;
      z-index: 1px;
    }
.left{
  width: 50px;
  height: 50px;
  border: solid;
  border-width: thin;
  position: absolute;
}
.right{
  width: 50px;
  height: 50px;
  border: solid;
  border-width: thin;
  position: absolute;
}
.bottom{
  width: 100%;
  height: 50px;
  border: solid;
  border-width: thin;
  position: absolute;
  background-color: powderblue;
}
}
@media screen  (max-width: 479px) {
  p {
      left: -40px;
      top: 100px;
      position: relative;
  }

  .custom-popup .leaflet-popup-content-wrapper {
    background:#9da3b6;
    color:#fff;
    font-size:12px;
    line-height:14px;
    }

  .custom-popup .leaflet-popup-tip-container {
    width:10px;
    height:7px;
    }
    .sidebar {
      height: 200px;
      width: 250px;
      left: 0px;
      padding: 0%;
      top: 0px;
      border-top: solid;
    }
    .head{
      height:100px;
      width: 260px;
      z-index: -1px;
    }
    .smaller-image{
      position: absolute;
      height:60px;
      width:110px;
    }
    .lowbar{
      height: 162px;
      left: 240px;
      width: 100%;
      top: 0px;
      z-index: -1px;
      border-bottom: solid;
    }
    .map{
      left: 0%;
      top:122px;
      border-top: solid;
      z-index: 1px;
    }

  .left{
    width: 50px;
    height: 50px;
    border: solid;
    border-width: thin;
    position: absolute;
  }

  .right{
    width: 50px;
    height: 50px;
    border: solid;
    border-width: thin;
    position: absolute;
  }
  .bottom{
    width: 100%;
    height: 50px;
    border: solid;
    border-width: thin;
    position: absolute;
    background-color: powderblue;
  }
}
